<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        <%= documentTitle %>
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="A creative coding program since fall 2014 in NYC.">
    <meta name="keywords" content="OF COURSE, creativecoding, processing, openframeworks">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href='https://dn-maxiang.qbox.me/res-min/themes/marxico.css' rel='stylesheet'>
    <link rel="shortcut icon" type="image/ico" href="assets/img/logo.jpg">
</head>
<body>
<div class="wrapper-masthead">
    <div class="of-container">
        <header class="masthead clearfix">
            <a href="" class="site-avatar"><img src="assets/img/logo.jpg"></a>
            <div class="site-info">
                <p class="site-name"><strong><a href="">RESOURCE</a></strong></p>
                <p class="site-description">Creative Coding Resources.</p>
            </div>
            <nav>
                <a href="openframeworks">Openframeworks</a>
                <a href="processing">Processing</a>
                <a href="about">About</a>
            </nav>
        </header>
    </div>
</div>
<div id="main" role="main" class="of-container">
    <div class="posts">
        <article class="post">
            <h1>Newest...</h1>
            <%= documentHTML %>
        </article>
    </div>
</div>
<div class="wrapper-footer">
    <div class="of-container">
        <footer class="footer">
            <a href="https://github.com/ofcourseio" title="Github" target="_blank"><i
                    class="svg-icon github"></i></a>
            <a href="https://www.linkedin.com/company/of-course" title="Linkedin" target="_blank"><i
                    class="svg-icon linkedin"></i></a>
            <a href="http://weibo.com/ofcouseshanghai" title="微博：@OFCOURSE创意编程" target="_blank"><i
                    class="svg-icon weibo"></i></a>
            <a href="http://weixin.sogou.com/gzh?openid=oIWsFt7PA6VTBN3iNP4W12fou3Xg&ext=D4y5Z3wUwj6wokqoXut6AaB-8gtfF5HHqE1znPfETVO7aEUMo-CwvEiTEZmm2Ylj"
               title="微信平台：@ofcourse_cn" target="_blank"><i
                    class="svg-icon wechat"></i></a>
            <a href="https://www.facebook.com/ofcourse.io/" title="Facebook" target="_blank"><i
                    class="svg-icon facebook"></i></a>
            <a href="https://www.twitter.com/ofcourseio/" title="Twitter" target="_blank"><i
                    class="svg-icon twitter"></i></a>
            <a href="https://www.twitter.com/ofcourseio/" title="Tumblr" target="_blank"><i
                    class="svg-icon tumblr"></i></a>
            <a href="http://ofcourseio.lofter.com/" title="Lofter" target="_blank"><i
                    class="svg-icon lofter"></i></a>
            <a href="mailto:info@ofcourse.io" title="联系邮箱：info@ofcourse.io"><i
                    class="svg-icon email"></i></a>
        </footer>
    </div>
</div>
</body>
</html>
