<div class="sub-url text-center">
    <div class="form-inline">
        <div class="form-group">
            <select class="form-control" id="sub-url-type">
                <option value="News">News</option>
                <option value="Workshop">Workshop</option>
                <option value="Course">Course</option>
                <option value="Interview">Interview</option>
                <option value="Blogs">Blogs</option>
                <option value="Teacher">Teacher</option>
            </select>
            <input type="text" class="form-control" id="sub-url-title" placeholder="Title">
            <input type="url" class="form-control" id="sub-url" placeholder="URL">
        </div>
        <button class="btn btn-default btn-success" id="sub-url-submit" type="submit">提 交</button>
    </div>
</div>