<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="canonical" href="{{ site.url }}{{ page.url }}"/>

    <link rel="stylesheet" type="text/css"  href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/inerd.css"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
          href="{{ site.baseurl }}/feed.xml"/>
    <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}{{ site.avatar }}"/>

</head>

<body>
<div id="wrapper-masthead" class="wrapper-masthead">
    <div class="container">
        <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}"/></a>
            <div class="site-info">
                <p class="site-name"><strong><a href="{{ site.baseurl }}/">COURSE</a></strong></p>
                <p class="site-description">{{ site.description }}</p>
            </div>

            <nav>
                <a href="{{ site.baseurl }}/interview/">Interview</a>
                <a href="{{ site.baseurl }}/student/">Student</a>
                <a href="{{ site.baseurl }}/course/">Course</a>
                <a href="{{ site.baseurl }}/news/">News</a>
                <a href="{{ site.baseurl }}/about/">About</a>
            </nav>
        </header>
    </div>
</div>
<div id="main" role="main" class="container">
    {{ content }}
</div>

{% include sidebar.html %}

<div class="modal fade wechat-dialog" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <p class="h4 modal-title text-center" id="myModalLabel">欢迎关注我们的微信公众平台</p>
            </div>
            <div class="modal-body text-center">
                <img class="" src="/assets/img/qrcode_ofcourse.jpg">
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<div id="wrapper-footer" class="wrapper-footer">
    <div class="container">
        <footer class="footer">
            {% include svg-icons.html %}
        </footer>
        <p>&copy;2016 <a href="http://www.ofcourse.io" target="_blank">ofcourse.io</a> All rights reserved.</p>
    </div>
</div>

{% include analytics.html %}

<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.2.1/jquery.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/ofcourseio.js"></script>
</body>
</html>
